// primary colors
$nitro-blue: #5BACC3;
$nitro-pink: #FFF0ED;

// neutral colors
$graphite: #393939;
$gray: #909090;
$light-gray: #F7F7F7;
$white: #FFF;

$font-family: 'Open Sans';

$light: 300;   
$regular: 400;
$bold: 700;   
